



<main>
  <section class="glass">
         {{!-- <nav>
        <div class="dashboard"> --}}
          
          <div class="links-main">
            <div>
            <a href= "/"> <href=><img  src="/images/Main-icon.png" alt="" /></a>
            <h1><a class="nav-button" href= "/" >Dashboard</a></h1>
            <h2><a class="nav-button" href= "/" >Empresarial</a></h2>
          </div>

            <div class="link-main">
              <img src="" alt="" />
              <a class="nav-button" href="/company/add">Añadir empresa</a>
            </div>
            <div class="link-main">
              <img src="" alt="" />
              <a class="nav-button " href="/company/get">Obtener información</a>
            </div>
            <div class="link-main">
              <img src="" alt="" />
              <a class="nav-button " href="/company/edit">Cambia el registro de una empresa</a>
            </div>
            <div class="link-main">
              <img src="" alt="" />
              <a class="nav-button" href="/company/delete">Elimina una empresa</a>
            </div>
            <div class="link-main">
              <img src="" alt="" />
              <a class="nav-button" href="/company/registered">Empresas registradas</a>
            </div>
          
          <div class="link-main">
            <a>By Jorge and Carlos</a>
            <img src="" alt="" />
          </div>

          </div>
        {{!-- </div> 
      
        </nav>  --}}

         </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </body>
</html>
       

        