



<main>
  <section class="glass">
         <nav>
        <div class="dashboard">
          <div class="user">
            <img src="/images/Main-icon.png" alt="" />
            <h1><a class="nav-button" href= "/" >Dashboard</a></h1>
            <h2><a class="nav-button" href= "/" >Empresarial</a></h2>
          </div>
          <div class="links">
            <div class="link">
              <img src="" alt="" />
              <a class="nav-button" href="/company/add">Add Company</a>
            </div>
            <div class="link">
              <img src="" alt="" />
              <a class="nav-button " href="/company/get">Get info</a>
            </div>
            <div class="link">
              <img src="" alt="" />
              <a class="nav-button " href="/company/edit">Cambia el registro de una empresa</a>
            </div>
            <div class="link">
              <img src="" alt="" />
              <a class="nav-button" href="/company/delete">Elimina una empresa</a>
            </div>
            <div class="link">
              <img src="" alt="" />
              <a class="nav-button" href="/company/registered">Empresas registradas</a>
            </div>
          </div>
          <div class="firma">
            <h2>By Jorge and Carlos</h2>
            <img src="" alt="" />
          </div>
        </div> 
      
        </nav> 

        </div>
       

        