<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="container">
      <a href="/"> Inicio </a>
    <li class="list-group-item">
        <a class="navbar-brand" href="/company/add">Registrar una nueva empresa</a>
    </li>
    <li class="list-group-item">

        <a class="navbar-brand" href="/company/get">Obten la informacion de una empresa</a>
    </li>
    <li class="list-group-item">
        <a class="navbar-brand" href="/company/edit">Cambia el registro de una empresa</a>
    </li>
    <li class="list-group-item">
        <a class="navbar-brand" href="/company/delete">Elimina una empresa</a>
    </li>
</nav